@model AdminWebSite.Models.CountryDelViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>Видалення країни</h2>

<h3>Ви дійсно бажаєте видалити цю чудову країну разом з усіма містами?</h3>
<div>
    <h4>Видалити країну</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            <h3>
                @Html.DisplayFor(model => model.Name)
            </h3>
            Міста що будуть видалені разом з країною

            <table>
                @foreach (var city in Model.Cities)
                {
                    <tr>
                        <td><p class="blue-text" style="color:blue;">@city.Name</p></td>
                    </tr>
                }
            </table>        
          
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
